# npm
node_modules/

# wrangler project
.wrangler/
worker-configuration.d.ts
.dev.vars*
!.dev.vars.example
.env*
!.env.example

# turbo
.turbo/

# vite
dist/

# eslint
.eslintcache

# migrations, un-ignore for real apps
migrations/
