# npm
node_modules/

# wrangler project
.wrangler/
worker-configuration.d.ts
.dev.vars*
!.dev.vars.example
.env*
!.env.example

# typescript
*.tsbuildinfo

# turbo
.turbo/

# eslint
.eslintcache

# migrations, un-ignore for real apps
migrations/

# frontend
dist/
.nitro/
.output/
.tanstack/
*.gen.ts
